#menu {
	width: 30%;
	display: flex;
	position: relative;
	align-items: center;
	height: calc(100vh);
	flex-direction: column;
	background-color: #f1f1f1;
	user-select: none;
	overflow: hidden;

	&.drag {
		cursor: col-resize;
	}
	
	&.drag::after {
		content: '';
		top: 0;
		bottom: 0;
		width: 5px;
		right: -5px;
		position: absolute;
		background-color: #0002;
	}

	&>#btns {
		top: 0;
		position: sticky;
		min-width: 150px;
		display: flex;
		align-items: center;
		/* flex-direction: column; */
		justify-content: space-around;
	}

	&>#tasks {
		overflow: auto;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
	}

	& button {
		margin: 10px 0;
		background-color: rgb(255, 255, 255, 0.9);
	}

	&>#note {
		bottom: 0;
		width: 100%;
		display: grid;
		position: sticky;
		min-height: 50px;
		margin-top: auto;
		text-align: center;
		place-items: center;
		background: rgb(255, 255, 255);
		background: linear-gradient(0deg, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 0.4906337535014006) 58%, rgba(255, 255, 255, 0) 100%);
	}
}

.task {
	width: 80%;
	color: #000;
	opacity: 0.35;
	margin: 6px 0;
	display: flex;
	cursor: pointer;
	padding: 4px 10px;
	align-items: center;
	justify-content: space-between;

	max-height: 35px;

	&>span {
		text-overflow: ellipsis;
		overflow: hidden;
		text-wrap: nowrap;
		width: 66%;
	}

	&>button {
		background-color: rgba(255, 0, 0, 0.75) !important;
		color: white;
	}

	&:hover {
		opacity: 1;
	}

	&.selected {
		opacity: 1;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
		background-color: white;
		border-radius: 6px;
	}
}